root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

# Matches the exact files either package.json or .travis.yml
[{bower.json,package.json,.travis.yml,**css}]
indent_style = space
indent_size = 2

[{**.html,**js,**.coffee,**jsx}]
indent_style = space
indent_size = 4
