// colors
$red: #DE3232;
$body-back-color: #f2f2f2;
$header-back-color: #fff;
$chart-back-color: #fff;
$font-dark-color: #444;
$font-light-color: #eee;
$font-grey-color: #969696;
$button-red-color: #DD3336;
$button-dark-color: #373A4D;

// heights/widths
$header-height: 90px;
$logo-width: 55px;

// font-sizes
$h1-size: 25px;
$h3-size: 20px;