header{
  height: $header-height;
  background-color: $header-back-color;
  margin-bottom: 20px;
  .logo {
    width: $logo-width;
    a{
      img{
        margin-top: ($header-height - $logo-width) / 2;
      }
    }
  }
}